#container{
	width:100%;
	height:1900px;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
	background-image: url("/res/bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header{
	text-align:center;
	color: white;
	background-color: #222;
	margin: 0;
	padding: 6px;
}

#nav {
    background-color: #222;
}
#nav_wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
	padding-left:30px;
	padding-right:30px;
	left:50px;
	right:50px;
}

#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 14px;
    text-decoration: none;
	margin:35px;
	margin-top:0px;
	margin-bottom:0px;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

#foot{
	text-align:center;
	background-color: #222;
	color: white;
	position:relative;
	padding: 1px;
	width:100%;
	bottom: 0;
    position: fixed;
	
}

#feed{
	width:20%;
	height:75%;
	float:right;
	margin: 1%;
	word-wrap: break-word;
	border-radius: 20px;
}

#con1 {
	background-color:#333;
	height:1600px;
	width:50%;
	margin-top:1%;
	margin-left:1%;
	margin-right:1%;
	word-wrap: break-word;
	float: left;
	border-radius: 20px;
	text-align:center;
}

#con1 table{
	margin-top:1%;
	width: 70%; 
	margin:0 auto;
	border-radius: 20px;
}

#con1 h1, h2 {
	color:#C9BE62;
}

#con1 table, td, tr {
	border: 1px solid black;
	background:#C9BE62;
	border-collapse: collapse;
}

#con1 img {
	height:11px;
}

#con1 hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555;
    margin: 1em 0;
    padding: 0; 
}
.sketchfab-embed-wrapper{
	margin-top:1%;
	width:800px; 
	margin:0 auto;
	float:center;
}

#discord{
    position: static;
    visibility: visible;
    display: inline-block;
    width: 100%;
    height: 500px;
    padding: 0px;
    border: none;
    max-width: 520px;
    min-width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
}

div{
	display: block;
}





