#container{
	width:100%;
	height:960px;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
	background-image: url("http://i.imgur.com/M1suKFC.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header{
	text-align:center;
	color: white;
	background-color: #222;
	margin: 0;
	padding: 6px;
}

#nav {
    background-color: #222;
}
#nav_wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 14px;
    text-decoration: none;
	margin:35px;
	margin-top:0px;
	margin-bottom:0px;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

#foot{
	text-align:center;
	background-color: #222;
	color: white;
	position:relative;
	padding: 1px;
	width:100%;
	bottom: 0;
    position: fixed;
	
}

#feed{
	width:20%;
	height:75%;
	float:right;
	margin: 1%;
	word-wrap: break-word;
	border-radius: 20px;
}