#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#load {
    position: Fixed;
    top: 57%;
    left: 55%;
    margin-top: -250px;
    margin-left: -250px;
    animation: bob 1.5s linear infinite;
    z-index: 1001;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: black;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
@-webkit-keyframes bob {
    0% {
        -webkit-transform: translateY(0px);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(0px);
        /* IE 9 */
        transform: translateY(0px);
        /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        -webkit-transform: translateY(20px);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(20px);
        /* IE 9 */
        transform: translateY(20px);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: translateY(0px);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(0px);
        /* IE 9 */
        transform: translateY(0px);
        /* Firefox 16+, IE 10+, Opera */
    }
}

/* loaded */
.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(+100%);
    transform: translateY(+100%);
    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}

.no-js h1 {
    color: #222222;
}